.mainf {
  height: 120vh;
  width: 82%;
  margin: auto;

}
.logincontain {
  height: 95vh;
  width: 100%;
  padding-top: 5px;
  margin: auto;
  margin-top: 8px;
  background-color: rgb(175, 97, 243);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.headdiv{
  display: flex;
  /* border: 2px solid rgb(14, 101, 18); */
  display: grid;
  height: 95vh;
  grid-template-columns: repeat(2,1fr);
}
.headdiv h2{
  /* border: 2px solid rgb(0, 32, 103); */
  width: 100%;
  font-size: 30px;
  margin: auto;
margin-left: 47%;
font-weight: 600;
color: white;

  
}
.name input {
  border: 2px solid rgb(151, 201, 254);
  width: 25vw;
  height: 5vh;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
}
.name {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  /* border: 2px solid; */
}
.name p {
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
  color: white;

  text-align: left;
  /* border: 1px solid; */
  width: 25%;
}

.image {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.image p {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  text-align: left;
  color: white;
  /* border: 1px solid; */
  width: 25%;
  font-weight: bold;


}
.image input {
  border: 2px solid rgb(151, 201, 254);
  width: 25vw;
  height: 5vh;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
}
.imgbtn {
  /* border:2px solid; */
  width: 12%;
  height: 35px;
  margin-top: 13px;
}

.submit input {
  border: none;
  width: 100%;
  height: 5.9vh;
  margin-top: 30px;
  font-size: 23px;
  border-radius: 5px;
  background-color: rgb(61, 23, 62);
  color: white;
   margin:auto;
   font-weight: 700;
}
.submit{
  /* border:2px solid red; */
  width:100%;
  margin-left:-50%;
}

.submit input:hover {
  background-color: rgb(92, 35, 85);
}

@media only screen and (max-width: 800px) {
  .logincontain {
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .emaildiv {
    height: 55vh;
  }
  .name input {
    border: 2px solid rgb(151, 201, 254);
    width: 80vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
  }
  .email input {
    border: 2px solid rgb(151, 201, 254);
    width: 80vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
  }

  .pass input {
    border: 2px solid rgb(151, 201, 254);

    width: 80vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
  }
  .number input {
    border: 2px solid rgb(151, 201, 254);

    width: 80vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
  }
  .submit input {
    border: none;
    width: 35vw;
    height: 6vh;
    margin-top: 20px;
    font-size: 21px;
    border-radius: 5px;
    background-color: teal;
    color: white;
  }

  .emailhead {
    width: 5vw;
    margin-left: 8%;
  }

  .passhead {
    width: 5vw;
    margin-left: 8%;
  }
  .phonehead {
    width: 5vw;
    margin-left: 8%;
  }
  .phonehead p {
    font-size: 18px;
  }

  .namehead {
    width: 5vw;
    margin-left: 8%;
  }
  .namehead p {
    font-size: 18px;
  }
  .ifuser h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .logincontain {
    height: 85vh;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .emaildiv {
    height: 55vh;
  }
  .name input {
    border: 2px solid rgb(151, 201, 254);
    width: 80vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
  }

  .email input {
    border: 2px solid rgb(151, 201, 254);
    width: 80vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
  }

  .pass input {
    border: 2px solid rgb(151, 201, 254);

    width: 80vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
  }
  .number input {
    border: 2px solid rgb(151, 201, 254);

    width: 80vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 15px;
  }

  .submit input {
    border: none;
    width: 45vw;
    height: 6vh;
    margin-top: 22px;
    font-size: 21px;
    border-radius: 5px;
    background-color: teal;
    color: white;
  }

  .emailhead {
    width: 5vw;
    margin-left: 5%;
  }

  .passhead {
    width: 5vw;
    margin-left: 5%;
  }
  .phonehead {
    width: 5vw;
    margin-left: 5%;
  }
  .phonehead p {
    font-size: 18px;
  }

  .namehead {
    width: 5vw;
    margin-left: 6%;
  }
  .namehead p {
    font-size: 18px;
  }
}
